* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2.125rem 1.5rem;
    gap: 2.125rem;

    @media (min-width: 37.5rem) {
      padding: 2.125rem 5.8125rem;
    }

    @media (min-width: 56.25rem) {
      padding: 2.125rem 9.375rem;
    }

    @media (min-width: 96rem) {
      padding: 2.125rem 10.5rem;
    }
  }
}

div.container.one {
  > div.wrapper {
    > div.top {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 0.125rem;

      @media (min-width: 56.25rem) {
        margin-bottom: -2.5rem;
      }
      @media (min-width: 75rem) {
        margin-bottom: -3.125rem;
      }
      @media (min-width: 120rem) {
        margin-bottom: -4.375rem;
      }

      > p:nth-of-type(1) {
        font-size: 1.0625rem;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 100%;
        letter-spacing: 0rem;
        margin: 0%;
        padding: 0;
        color: #297da9;

        @media (min-width: 120rem) {
          font-size: 1.3125rem;
        }
      }

      > h1 {
        font-size: 3.4375rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0rem;
        font-family: "Poppins", sans-serif;
        color: black;
        margin: 0.3125rem 0 0 0;

        @media (min-width: 120rem) {
          font-size: 5.5625rem;
        }
      }
      > p:nth-of-type(2) {
        text-align: center;
        font-size: 1.3125rem;
        font-family: Arial, sans-serif;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0rem;
        margin: 0.8125rem 0 0 0;
        color: #425466;

        @media (min-width: 120rem) {
          font-size: 1.3125rem;
        }
      }
    }

    > div.bottom {
      @media (min-width: 25.875rem) and (max-width: 37.4375rem) {
        width: 22.875rem;
        height: 13.25rem;
      }

      @media (min-width: 37.5rem) and (max-width: 56.1875rem) {
        width: 25.875rem;
        height: 11.25rem;
      }

      @media (min-width: 56.25rem) and (max-width: 74.9375rem) {
        width: 37.5rem;
        height: 18.4375rem;
      }

      @media (min-width: 75rem) and (max-width: 95.9375rem) {
        width: 56.25rem;
        height: 27.8125rem;
      }

      @media (min-width: 120rem) and (max-width: 159.9375rem) {
        width: 96rem;
        height: 47.5044rem;
      }
      > picture {
        display: block;
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

div.container.two {
  > div.wrapper {
    @media (min-width: 75rem) {
      display: grid;
      grid-template-areas:
        "text pic"
        "cards pic";
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      margin-top: 2.125rem;
      margin-bottom: 2.125rem;
    }
    @media (min-width: 120rem) {
      display: grid;
      grid-template-areas:
        "text pic"
        "cards pic";
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      margin-top: 2.125rem;
      margin-bottom: 2.125rem;
    }
    > div.top {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: 56.25rem) {
        width: 37.5rem;
        height: 7.9375rem;
        grid-area: text;
      }
      @media (min-width: 75rem) {
        width: 27.4688rem;
        height: 11.75rem;
        grid-area: text;
      }
      @media (min-width: 120rem) {
        width: 39.25rem;
        height: 15.6875rem;
        grid-area: text;
      }

      > p:first-of-type {
        font-size: 1.0625rem;
        font-weight: 400;
        text-align: center;
        line-height: 100%;
        letter-spacing: 0rem;
        margin: 0%;
        font-family: "Poppins";
        color: #297da9;

        @media (min-width: 120rem) {
          font-size: 1.3125rem;
        }
      }
      > h2 {
        font-size: 2.125rem;
        font-weight: 600;
        font-family: "Poppins";
        line-height: 100%;
        letter-spacing: 0rem;
        color: black;
        margin: 0.625rem 0 0 0;
        text-align: center;

        @media (min-width: 120rem) {
          font-size: 3.4375rem;
          text-align: left;
          line-height: 120%;
          &::after {
            font-size: 3.4375rem;
          }
        }
      }
      > h2 + p {
        font-size: 0.8125rem;
        font-weight: 400;
        font-family: Poppins;
        text-align: left;
        color: #0000008c;

        @media (min-width: 120rem) {
          font-size: 1.0625rem;
          color: #0000008c;
          line-height: 150%;
        }
      }
    }
    > div.middle {
      @media (min-width: 56.25rem) {
        display: grid;
        grid-template-areas:
          "one two"
          "three four";
        grid-template-columns: 1fr 1fr;
        width: 37.5rem;
        height: 19.75rem;
        grid-area: cards;
      }
      @media (min-width: 75rem) {
        display: grid;
        grid-template-areas:
          "one two"
          "three four";
        grid-template-columns: 1fr 1fr;
        width: 27.4375rem;
        height: 22.75rem;
        grid-area: cards;
      }
      @media (min-width: 120rem) {
        display: grid;
        grid-template-areas:
          "one two"
          "three four";
        grid-template-columns: 1fr 1fr;
        width: 39.25rem;
        height: 26.8125rem;
        grid-area: cards;
      }
      display: flex;
      flex-direction: column;
      gap: 1.3125rem;

        @media (min-width: 75rem) {
          div.card:nth-of-type(1) {
          width: 13.0781rem;
          height: 8.6875rem;
          }
          div.card:nth-of-type(2) {
          width: 13.0781rem;
          height: 8.6875rem;
          }
          div.card:nth-of-type(3) {
          width: 13.0781rem;
          height: 12.75rem;
          }
          div.card:nth-of-type(4) {
          width: 13.0781rem;
          height: 12.75rem;
          }
        }
        @media (min-width: 120rem) {
          div.card:nth-of-type(1) {
          width: 18.9688rem;
          height: 12.75rem;
          }
          div.card:nth-of-type(2) {
          width: 18.9688rem;
          height: 12.75rem;
          }
          div.card:nth-of-type(3) {
          width: 18.9688rem;
          height: 12.75rem;
          }
          div.card:nth-of-type(4) {
          width: 18.9688rem;
          height: 12.75rem;
          }
        }

      > div.card {
        > div.top {
          > img {
            width: auto;
            height: auto;
          }
        }
        > div.middle {
          > p:nth-of-type(1) {
            font-size: 0.8125rem;
            font-weight: 500;
            font-family: Poppins;
            line-height: 100%;

            @media (min-width: 75rem) {
              font-size: 0.8125rem;
              font-family: Poppins;
              line-height: 100%;
            }
            @media (min-width: 120rem) {
              font-size: 1.0625rem;
              font-family: Poppins;
              line-height: 130%;
            }
          }
          > p:nth-of-type(2) {
            font-size: 0.8125rem;
            font-weight: 500;
            font-family: Poppins;
            line-height: 130%;
            color: #0000008c;

            @media (min-width: 75rem) {
              font-size: 0.8125rem;
              font-weight: 300;
              font-family: Poppins;
              line-height: 130%;
            }

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
              font-family: Poppins;
              line-height: 130%;
            }
          }
        }
        > div.bottom {
        }
      }
    }
    > div.bottom {
      @media (min-width: 56.25rem) {
        width: 37.5rem;
        height: 37.5rem;
        grid-area: pic;
      }
      @media (min-width: 75rem) {
        width: 27.4688rem;
        height: 27.4688rem;
        grid-area: pic;
      }
      @media (min-width: 120rem) {
        width: 47.375rem;
        height: 47.375rem;
        grid-area: pic;
      }
      > img {
      @media (min-width: 75rem) {
        width: 100%;
        height: 100%;
      }
        @media (min-width: 56.25rem) and (max-width: 74.9375rem) {
          width: 100%;
          height: 100%;
        }
        @media (min-width: 120rem) {
          width: 100%;
          height: 100%;
        }
        width: 22.875rem;
        height: 22.875rem;
      }
    }
  }
}

div.container.three {
  > div.wrapper {
    @media (min-width: 23.4375rem) {
      padding-bottom: 0;
      padding-top: 0;
    }
    > picture {
    }
  }
}

div.container.four {
  > div.wrapper {
    @media (min-width: 75rem) {
      margin-bottom: 2.125rem;
    }
    @media (min-width: 75rem) {
      display: grid;
      grid-template-areas:
        "pic text"
        "pic cards";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }
    @media (min-width: 120rem) {
      display: grid;
      justify-content: space-between;
    }

    > div.top {
      @media (min-width: 37.5rem) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25.875rem;
        height: 23.0313rem;
      }
      @media (min-width: 75rem) {
        grid-area: pic;
        margin-right: 1.3125rem;
      }
      @media (min-width: 120rem) {
        width: 47.375rem;
        height: 42.125rem;
        margin-right: 9.375rem;
      }
      > picture {
        @media (min-width: 37.5rem) {
          display: flex;
          align-self: baseline;
        }
        @media (min-width: 75rem) {
          width: 27.4688rem;
          height: 24.4425rem;
        }
        @media (min-width: 120rem) {
          width: 47.375rem;
          height: 42.125rem;
        }
        > img {
          @media (min-width: 75rem) {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @media (min-width: 120rem) {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    > div.middle {
      @media (min-width: 120rem) {
        width: 39.25rem;
      }
      > p:nth-of-type(1) {
        font-size: 1.0625rem;
        color: #297da9;
        font-weight: 400;
        margin: 1.3125rem 0 0 0;

        @media (min-width: 56.25rem) {
          font-size: 1.3125rem;
        }
      }
      > h2 {
        font-weight: 600;
        font-size: 2.125rem;
        color: black;
        margin: 0;
        margin-bottom: 1.3125rem;

        @media (min-width: 56.25rem) {
          font-size: 3.4375rem;
        }
      }
      > p:nth-of-type(2) {
        font-weight: 400;
        font-size: 1.0625rem;
        color: #0000008c;
        margin: 0;
        margin-bottom: 1.3125rem;
        @media (min-width: 75rem) {
          margin: 0;
        }

        @media (min-width: 56.25rem) {
          font-size: 1.3125rem;
        }
      }
    }
    > div.bottom {
      display: flex;
      flex-direction: column;
      gap: 1.3125rem;

      @media (min-width: 56.25rem) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      @media (min-width: 120rem) {
        display: flex;
        flex-direction: row;
        gap: 1.3125rem;
        flex-wrap: wrap;
        width: 39.25rem;
        height: 20.9375rem;
      }

      > div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 0.3125rem;
        background-color: white;
        filter: drop-shadow(0 0 0.1719rem rgba(0, 51, 85, 0.0217)) drop-shadow(0 0 0.4344rem rgba(0, 51, 85, 0.0311))
          drop-shadow(0 0 0.8862rem rgba(0, 51, 85, 0.0389)) drop-shadow(0 0 1.825rem rgba(0, 51, 85, 0.0483));
        padding: 0.8125rem;

        @media (min-width: 120rem) {
          justify-content: center;
        }

        > div.top {
        }

        > div.bottom {
          > p:first-of-type {
            color: black;
            font-size: 1.0625rem;

            @media (min-width: 75rem) {
              margin: 0 0 0.3125rem 0;
            }

            @media (min-width: 120rem) {
              font-size: 1.3125rem;
            }
          }
          > p:nth-of-type(2) {
            color: #0000008c;
            font-size: 0.8125rem;

            @media (min-width: 75rem) {
              margin: auto;
              line-height: 130%;
            }

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
            }
          }
        }
      }
      > div.card:nth-of-type(1) {
        @media (min-width: 56.25rem) {
          width: 18.0938rem;
          height: 8.25rem;
        }
        @media (min-width: 75rem) {
          width: 13.0781rem;
          height: 9.3125rem;
        }
        @media (min-width: 120rem) {
          width: 18.9688rem;
          height: 10.5rem;
        }
      }
      > div.card:nth-of-type(2) {
        @media (min-width: 56.25rem) {
          width: 18.0938rem;
          height: 8.25rem;
        }
        @media (min-width: 75rem) {
          width: 13.0781rem;
          height: 9.3125rem;
        }
        @media (min-width: 120rem) {
          width: 18.9688rem;
          height: 10.5rem;
        }
      }
      > div.card:nth-of-type(3) {
        @media (min-width: 56.25rem) {
          width: 37.5rem;
          height: 7.1875rem;
        }
        @media (min-width: 75rem) {
          width: 27.4688rem;
          height: 8.25rem;
        }
        @media (min-width: 120rem) {
          width: 39.25rem;
          height: 9.125rem;
        }
      }
    }
    @media (min-width: 56.25rem) {
      gap: 1.3125rem;
    }
  }
}

div.container.five {
  > div.wrapper {
    @media (min-width: 75rem) and (max-width: 95.9375rem) {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-bottom: 2.125rem;
    }
    @media (min-width: 120rem) and (max-width: 156.25rem) {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-bottom: 2.125rem;
    }
    > div.top {
      @media (min-width: 23.4375rem) {
        display: flex;
        flex-direction: column;
        gap: 1.3125rem;
      }
      @media (min-width: 75rem) and (max-width: 95.9375rem) {
        width: 27.5rem;
        height: 22.25rem;
        margin-left: auto;
      }
      @media (min-width: 120rem) {
        width: 39.25rem;
        height: 28.5rem;
        margin-right: auto;
        position: relative;
        left: 11.875rem;
      }
      > div.top {
        > p {
          font-size: 1.0625rem;
          color: #297da9;
          font-weight: 400;
          margin: 0;
          line-height: 100%;
          font-family: Poppins;

          @media (min-width: 120rem) {
            font-size: 1.3125rem;
          }
        }
        > h2 {
          font-size: 2.125rem;
          color: black;
          margin: 0rem;

          @media (min-width: 120rem) {
            font-size: 3.4375rem;
          }
        }
      }
      > div.middle {
        > p:nth-of-type(1) {
          font-size: 0.8125rem;
          color: #425466;
          font-weight: 400;
          line-height: 100%;
          font-family: Poppins;
          margin: 0;

          @media (min-width: 120rem) {
            font-size: 1.0625rem;
          }
        }
        > p:nth-of-type(2) {
          font-size: 0.8125rem;
          color: #425466;
          font-weight: 400;
          line-height: 100%;
          font-family: Poppins;

          @media (min-width: 120rem) {
            font-size: 1.0625rem;
          }
        }
      }
      > div.bottom {
        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7.9375rem;
          height: 3.125rem;
          gap: 0.3125rem;
          text-decoration: none;
          color: #ffffff;
          font-size: 0.8125rem;
          font-weight: 400;
          line-height: 100%;
          padding: 1.1169rem 1.0231rem 1.0719rem 0.8125rem;
          border-radius: 31.25rem;
          font-family: Poppins;
          background-color: #29aae3;
          @media(min-width:120rem) {
            width: 10.3125rem;
            height: 4.125rem;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
          }

          @media (min-width: 120rem) {
            font-size: 1.0625rem;
          }
        }
      }
    }
    > div.middle {
      @media (min-width: 23.4375rem) and (max-width: 37.4375rem) {
        display: flex;
        flex-direction: column;
        gap: 1.3125rem;
      }
      @media (min-width: 37.5rem) and (max-width: 56.1875rem) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.3125rem;
      }
      @media (min-width: 56.25rem) and (max-width: 74.9375rem) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.3125rem;
      }
      @media (min-width: 75rem) and (max-width: 95.9375rem) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.3125rem;
      }
      @media (min-width: 120rem) and (max-width: 156.25rem) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.3125rem;
      }
    }
  }
}

div.container.six {
  > div.wrapper {
    @media (min-width: 56.25rem) {
      gap: 1.3125rem;
    }

    > div.top {
      text-align: center;

      > p {
        font-size: 1.0625rem;
        color: #297da9;
        font-weight: 400;
        margin: 0;
        line-height: 100%;
        font-family: Poppins;

        @media (min-width: 120rem) {
          font-size: 1.3125rem;
        }
      }
      > h2 {
        font-size: 2.125rem;
        color: black;
        margin: 0.3125rem;

        @media (min-width: 120rem) {
          font-size: 3.4375rem;
        }
      }
    }
    > div.bottom {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.3125rem;
      max-width: 100%;

      @media (min-width: 56.25rem) and (max-width: 74.9375rem) {
        display: flex;
        flex-wrap: wrap;

        > span.types:nth-of-type(1) {
          width: 11.625rem;
          height: 26.9344rem;
        }
        > span.types:nth-of-type(2) {
          width: 11.625rem;
          height: 26.9344rem;
        }
        > span.types:nth-of-type(3) {
          width: 11.625rem;
          height: 26.9344rem;
        }
        > span.types:nth-of-type(4) {
          width: 18.0938rem;
          height: 37.4006rem;
        }
        > span.types:nth-of-type(5) {
          width: 18.0938rem;
          height: 37.4006rem;
        }
      }

      @media (min-width: 75rem) {
        display: flex;

        > span.types:nth-of-type(1) {
          width: 10.1375rem;
          height: 24.6288rem;
        }
        > span.types:nth-of-type(2) {
          width: 10.1375rem;
          height: 24.6288rem;
        }
        > span.types:nth-of-type(3) {
          width: 10.1375rem;
          height: 24.6288rem;
        }
        > span.types:nth-of-type(4) {
          width: 10.1375rem;
          height: 24.6288rem;
        }
        > span.types:nth-of-type(5) {
          width: 10.1375rem;
          height: 24.6288rem;
        }
      }

      @media (min-width: 96rem) {
        display: flex;

        > span.types:nth-of-type(1) {
          width: 13.95rem;
          height: 30.6962rem;
        }
        > span.types:nth-of-type(2) {
          width: 13.95rem;
          height: 30.6962rem;
        }
        > span.types:nth-of-type(3) {
          width: 13.95rem;
          height: 30.6962rem;
        }
        > span.types:nth-of-type(4) {
          width: 13.95rem;
          height: 30.6962rem;
        }
        > span.types:nth-of-type(5) {
          width: 13.95rem;
          height: 30.6962rem;
        }
      }

      @media (min-width: 120rem) {
        display: flex;

        > span.types:nth-of-type(1) {
          width: 18.15rem;
          height: 39.6794rem;
        }
        > span.types:nth-of-type(2) {
          width: 18.15rem;
          height: 39.6794rem;
        }
        > span.types:nth-of-type(3) {
          width: 18.15rem;
          height: 39.6794rem;
        }
        > span.types:nth-of-type(4) {
          width: 18.15rem;
          height: 39.6794rem;
        }
        > span.types:nth-of-type(5) {
          width: 18.15rem;
          height: 39.6794rem;
        }
      }

      > span.types {
        width: 100%;
        max-width: 100%;

        > div.top {
          width: 100%;
          max-width: 100%;

          > picture img {
            width: 100%;
            max-width: 100%;

            @media (min-width: 56.25rem) {
              max-width: none;
            }
          }
        }
        > div.bottom {
          text-align: center;

          > h2 {
            font-size: 1.0625rem;
            color: black;
            font-weight: 400;

            @media (min-width: 120rem) {
              font-size: 1.3125rem;
            }
          }
          > p {
            font-size: 0.8125rem;
            color: #0000008c;

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
            }
          }
          > a {
            text-decoration: none;
            color: #297da9;

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
            }
          }
        }
      }
    }
  }
}
div.container.seven {
  > div.wrapper {
    @media (min-width: 56.25rem) {
      flex-direction: row;
    }

    > div.top {
      padding: 1.3125rem;
      border-radius: 0.8125rem;
      background-color: #419ed1;
      width: 100%;

      @media (min-width: 37.5rem) {
        width: 25.875rem;
        height: 17.875rem;
      }

      @media (min-width: 56.25rem) {
        width: 18rem;
        height: 17.875rem;
      }

      @media (min-width: 96rem) {
        width: 24.125rem;
        height: 24.125rem;
      }

      @media (min-width: 120rem) {
        width: 31.125rem;
        height: 31.25rem;
        padding: 3.4375rem;
      }

      > div.box {
        > div.top {
          > h2 {
            font-size: 2.125rem;
            font-weight: 400;
            color: white;
            line-height: 120%;
            margin: 0 0 2.0625rem 0;

            @media (min-width: 120rem) {
              font-size: 3.4375rem;
            }
          }
        }
        > div.middle {
          margin-bottom: 2.0625rem;
          width: 100%;
          max-width: 100%;

          @media (min-width: 120rem) {
            margin: 4.8438rem 0 4.8438rem 0;
          }

          > a {
            display: inline-flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 3.125rem;
            max-width: 100%;
            font-size: 0.8125rem;
            font-weight: 400;
            font-family: "Inter";
            line-height: 1;
            letter-spacing: 0;
            color: #ffffff;
            background: none;
            border: 0.0625rem solid #ffffff;
            border-radius: 0.3125rem;
            gap: 0.625rem;
            cursor: pointer;

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
              height: 4.125rem;
            }

            &::after {
              content: "";
              width: 1rem;
              height: 1rem;
              background-size: cover;
              background-repeat: no-repeat;
            }

            &::after {
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
            }
          }
        }
        > div.bottom {
          > div.top {
            > strong {
              font-size: 1.0625rem;
              font-weight: 700;
              color: white;

              @media (min-width: 120rem) {
                font-size: 1.3125rem;
              }
            }
            > p {
              font-size: 0.8125rem;
              font-weight: 400;
              color: white;

              @media (min-width: 37.5rem) {
                margin: 0 0 1.3125rem 0;
              }

              @media (min-width: 56.25rem) {
                margin: 0;
              }

              @media (min-width: 120rem) {
                font-size: 1.0625rem;
              }
            }
          }
          > div.bottom {
            @media (min-width: 56.25rem) {
              margin-top: 1.3125rem;
            }

            > strong {
              font-size: 1.0625rem;
              font-weight: 700;
              color: white;

              @media (min-width: 120rem) {
                font-size: 1.3125rem;
              }
            }
            > p {
              font-size: 0.8125rem;
              font-weight: 400;
              color: white;

              @media (min-width: 37.5rem) {
                margin: 0;
              }

              @media (min-width: 56.25rem) {
                margin: 0;
              }

              @media (min-width: 120rem) {
                font-size: 1.0625rem;
              }
            }
          }
        }
      }
    }
    > div.bottom {
      padding: 1.3125rem;
      border-radius: 0.8125rem;
      border: 0.0625rem solid #ccd6eb;
      background-color: #ffffff;
      max-width: 100%;

      @media (min-width: 56.25rem) {
        width: 18rem;
        height: 17.875rem;
      }

      @media (min-width: 75rem) {
        width: 37.0625rem;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          top: 0rem;
          right: 0rem;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/1200/nine-chat.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: auto 19.25rem;
        }
      }

      @media (min-width: 96rem) {
        width: 49.5625rem;
        height: 24.125rem;
        padding: 2.125rem;

        &::after {
          content: "";
          position: absolute;
          top: 0rem;
          right: 0rem;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/1200/nine-chat.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: auto 24.0625rem;
        }
      }

      @media (min-width: 120rem) {
        width: 63.375rem;
        height: 31.25rem;
        padding: 3.4375rem;

        &::after {
          content: "";
          position: absolute;
          top: 0rem;
          right: 0rem;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/1200/nine-chat.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: auto 31.375rem;
        }
      }

      > div.box {
        @media (min-width: 96rem) {
          display: flex;
          flex-direction: column;
          gap: 2.1719rem;
        }

        > div.top {
          > p:nth-of-type(1) {
            font-size: 1.0625rem;
            font-weight: 400;
            color: #297da9;
            line-height: 100%;
            margin: 0 0 0.3125rem 0;

            @media (min-width: 120rem) {
              font-size: 1.3125rem;
            }
          }
          > p:nth-of-type(2) {
            font-size: 1.3125rem;
            font-weight: 400;
            color: black;
            line-height: 100%;
            margin: 0 0 1.0156rem 0;

            @media (min-width: 120rem) {
              font-size: 2.125rem;
              margin-bottom: 2.7656rem;
            }
          }
          > p:nth-of-type(3) {
            font-size: 0.8125rem;
            font-weight: 400;
            color: #090c058c;
            line-height: 100%;
            margin: 0 0 1.0156rem 0;

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
            }
          }
        }
        > div.middle {
          > button {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            padding: 0.8125rem;
            background-color: #06c270;
            color: white;
            border-radius: 0.3125rem;
            border: none;
            cursor: pointer;

            @media (min-width: 56.25rem) {
              margin-bottom: 0.75rem;
            }

            @media (min-width: 120rem) {
              padding: 1.4063rem;
              font-size: 1.0625rem;
            }
          }
        }
        > div.bottom {
          > p:nth-of-type(1) {
            font-size: 1.0625rem;
            color: black;
            font-weight: 400;

            @media (min-width: 56.25rem) {
              margin: 0;
            }

            @media (min-width: 120rem) {
              font-size: 1.3125rem;
            }
          }
          > p:nth-of-type(2) {
            font-size: 0.8125rem;
            color: #090c058c;
            font-weight: 400;
            line-height: 130%;
            margin: 0.3125rem 0 1.0156rem 0;

            @media (min-width: 56.25rem) {
              margin: 0.3125rem 0 0.3125rem 0;
            }

            @media (min-width: 56.25rem) {
              width: 15.375rem;
            }

            @media (min-width: 96rem) {
              margin-bottom: 2.1719rem;
            }

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
              margin-bottom: 0.625rem;
            }
          }
          > a {
            text-decoration: none;
            color: #297da9;
            font-size: 0.8125rem;

            @media (min-width: 120rem) {
              font-size: 1.0625rem;
            }
          }
        }
      }
    }
  }
}
