div.container {
  > div.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

div.container.one {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    @media (max-width: 1199px) {
      gap: 34px;
    }

    @media (min-width: 1200px) and (max-width: 2650px) {
      gap: 21px;
      width: 100%;
    }
    > div.top {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 2px;

      @media (min-width: 900px) {
        margin-bottom: -40px;
      }
      @media (min-width: 1200px) {
        margin-bottom: -50px;
      }

      > p:nth-of-type(1) {
        font-size: 17px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 0%;
        padding: 0;
        color: #297da9;
      }

      > h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0px;
        font-family: "Poppins", sans-serif;
        color: black;
        margin: 5px 0 0 0;
      }
      > p:nth-of-type(2) {
        text-align: center;
        font-size: 21px;
        font-family: Arial, sans-serif;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0px;
        margin: 13px 0 0 0;
        color: #425466;
      }
    }

    > div.bottom {
      @media (min-width: 414px) and (max-width: 599px) {
        width: 366px;
        height: 212px;
      }

      @media (min-width: 600px) and (max-width: 899px) {
        width: 414px;
        height: 180px;
      }

      @media (min-width: 900px) and (max-width: 1199px) {
        width: 600px;
        height: 295px;
      }

      @media (min-width: 1200px) and (max-width: 1535px) {
        width: 900px;
        height: 445px;
      }
      > picture {
        display: block;
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 8px;
        }
      }
    }
  }
}

div.container.two {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    @media (max-width: 1199px) {
      gap: 34px;
    }

    @media (min-width: 1200px) and (max-width: 2650px) {
      gap: 21px;
      width: 100%;
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    > div.top {
      order: 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: 900px) {
        width: 600px;
        height: 127px;
        grid-area: text;
      }
      @media (min-width: 1200px) {
      }

      > p:first-of-type {
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 0%;
        font-family: "Poppins";
        color: #297da9;

        @media (min-width: 1200px) {
          text-align: left;
        }
      }
      > h2 {
        font-size: 34px;
        font-weight: 600;
        font-family: "Poppins";
        line-height: 100%;
        letter-spacing: 0px;
        color: black;
        margin: 10px 0 0 0;
        text-align: center;

        @media (min-width: 1200px) {
          text-align: left;
        }
      }
      > h2 + p {
        font-size: 13px;
        font-weight: 400;
        font-family: Poppins;
        text-align: left;
        color: #0000008c;

        @media (min-width: 1200px) {
          text-align: left;
          font-size: 16px;
        }
      }
    }
    > div.middle {
      order: 0;
      display: flex;
      flex-direction: column;
      gap: 21px;

      @media (min-width: 900px) {
        display: grid;
        grid-template-areas:
          "one two"
          "three four";
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: 316px;
        grid-area: cards;
      }
      @media (min-width: 1200px) {
        display: grid;
        grid-template-areas:
          "one two"
          "three four";
        grid-template-columns: 1fr 1fr;
        width: 439px;
        height: 364px;
        grid-area: cards;
      }

      @media (min-width: 1200px) {
        div.card:nth-of-type(1) {
          width: 209.2496px;
          height: 139px;
        }
        div.card:nth-of-type(2) {
          width: 209.2496px;
          height: 139px;
        }
        div.card:nth-of-type(3) {
          width: 209.2496px;
          height: 204px;
        }
        div.card:nth-of-type(4) {
          width: 209.2496px;
          height: 204px;
        }
      }

      > div.card {
        > div.top {
          > img {
            width: auto;
            height: auto;
          }
        }
        > div.middle {
          > p:nth-of-type(1) {
            font-size: 13px;
            font-weight: 500;
            font-family: Poppins;
            line-height: 100%;

            @media (min-width: 1200px) {
              font-size: 13px;
              font-family: Poppins;
              line-height: 100%;
            }
          }
          > p:nth-of-type(2) {
            font-size: 13px;
            font-weight: 500;
            font-family: Poppins;
            line-height: 130%;
            color: #0000008c;

            @media (min-width: 1200px) {
              font-size: 15px;
              font-weight: 300;
              font-family: Poppins;
              line-height: 130%;
            }
          }
        }
      }
    }
    > div.bottom {
      @media (min-width: 900px) {
        width: 600px;
        height: 600px;
        grid-area: pic;
      }
      @media (min-width: 1200px) {
        width: 439.5008px;
        height: 439.5008px;
        grid-area: pic;
      }
      > img {
        width: 366px;
        height: 366px;
        @media (min-width: 1200px) {
          width: 100%;
          height: 100%;
        }
        @media (min-width: 900px) and (max-width: 1199px) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

div.container.three {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  > div.wrapper {
    width: 100%;

    > picture {
      width: 100%;
      > img {
        width: 100%;
      }
    }
  }
}

div.container.four {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    @media (max-width: 1199px) {
      gap: 34px;
    }

    @media (min-width: 1200px) and (max-width: 2650px) {
      gap: 21px;
      width: 100%;
    }
    @media (min-width: 1200px) {
      margin-bottom: 34px;
    }
    @media (min-width: 1200px) {
      display: grid;
      grid-template-areas:
        "pic text"
        "pic cards";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }

    > div.top {
      @media (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 414px;
        height: 368.5008px;
      }
      @media (min-width: 1200px) {
        grid-area: pic;
        margin-right: 21px;
      }
      > picture {
        @media (min-width: 600px) {
          display: flex;
          align-self: baseline;
        }
        @media (min-width: 1200px) {
          width: 439.5008px;
          height: 391.08px;
        }
        > img {
          @media (min-width: 1200px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    > div.middle {
      > p:nth-of-type(1) {
        font-size: 17px;
        color: #297da9;
        font-weight: 400;
        margin: 21px 0 0 0;

        @media (min-width: 900px) {
          font-size: 21px;
        }
      }
      > h2 {
        font-weight: 600;
        font-size: 34px;
        color: black;
        margin: 0;
        margin-bottom: 21px;

        @media (min-width: 900px) {
          font-size: 55px;
        }
      }
      > p:nth-of-type(2) {
        font-weight: 400;
        font-size: 17px;
        color: #0000008c;
        margin: 0;
        margin-bottom: 21px;
        @media (min-width: 1200px) {
          margin: 0;
        }

        @media (min-width: 900px) {
          font-size: 21px;
        }
      }
    }
    > div.bottom {
      display: flex;
      flex-direction: column;
      gap: 21px;

      @media (min-width: 900px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      > div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        background-color: white;
        filter: drop-shadow(0 0 2.7504px rgba(0, 51, 85, 0.0217)) drop-shadow(0 0 6.9504px rgba(0, 51, 85, 0.0311))
          drop-shadow(0 0 14.1792px rgba(0, 51, 85, 0.0389)) drop-shadow(0 0 29.2px rgba(0, 51, 85, 0.0483));
        padding: 13px;

        > div.top {
        }

        > div.bottom {
          > p:first-of-type {
            color: black;
            font-size: 17px;

            @media (min-width: 1200px) {
              margin: 0 0 5px 0;
            }
          }
          > p:nth-of-type(2) {
            color: #0000008c;
            font-size: 13px;

            @media (min-width: 1200px) {
              margin: auto;
              line-height: 130%;
            }
          }
        }
      }
      > div.card:nth-of-type(1) {
        @media (min-width: 900px) {
          width: 289.5008px;
          height: 132px;
        }
        @media (min-width: 1200px) {
          width: 209.2496px;
          height: 149px;
        }
      }
      > div.card:nth-of-type(2) {
        @media (min-width: 900px) {
          width: 289.5008px;
          height: 132px;
        }
        @media (min-width: 1200px) {
          width: 209.2496px;
          height: 149px;
        }
      }
      > div.card:nth-of-type(3) {
        @media (min-width: 900px) {
          width: 600px;
          height: 115px;
        }
        @media (min-width: 1200px) {
          width: 439.5008px;
          height: 132px;
        }
      }
    }
    @media (min-width: 900px) {
      gap: 21px;
    }
  }
}

div.container.five {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    @media (max-width: 1199px) {
      gap: 34px;
    }

    @media (min-width: 1200px) and (max-width: 2650px) {
      gap: 21px;
      width: 100%;
    }
    @media (min-width: 1200px) and (max-width: 1535px) {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-bottom: 34px;
    }
    > div.top {
      @media (min-width: 375px) {
        display: flex;
        flex-direction: column;
        gap: 21px;
      }
      @media (min-width: 1200px) and (max-width: 1535px) {
        width: 440px;
        height: 356px;
        margin-left: auto;
      }
      > div.top {
        > p {
          font-size: 17px;
          color: #297da9;
          font-weight: 400;
          margin: 0;
          line-height: 100%;
          font-family: Poppins;

          @media (min-width: 1200px) {
            font-size: 13px;
          }
        }
        > h2 {
          font-size: 34px;
          color: black;
          margin: 0px;
        }
      }
      > div.middle {
        > p:nth-of-type(1) {
          font-size: 13px;
          color: #425466;
          font-weight: 400;
          line-height: 100%;
          font-family: Poppins;
          margin: 0;
        }
        > p:nth-of-type(2) {
          font-size: 13px;
          color: #425466;
          font-weight: 400;
          line-height: 100%;
          font-family: Poppins;
        }
      }
      > div.bottom {
        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 127px;
          height: 50px;
          gap: 5px;
          text-decoration: none;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 100%;
          padding: 17.8704px 16.3696px 17.1504px 13px;
          border-radius: 500px;
          font-family: Poppins;
          background-color: #29aae3;

          &:after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
    > div.middle {
      @media (min-width: 375px) and (max-width: 599px) {
        display: flex;
        flex-direction: column;
        gap: 21px;
      }
      @media (min-width: 600px) and (max-width: 899px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 21px;
      }
      @media (min-width: 900px) and (max-width: 1199px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 21px;
      }
      @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 21px;
      }

      > picture {
        @media (min-width: 1200px) {
          width: 286.3296px;
          height: 356px;

          > img {
            width: 286.3296px;
            height: 356px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

div.container.six {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    gap: 21px;
    @media (min-width: 900px) {
      gap: 21px;
    }

    > div.top {
      text-align: center;

      > p {
        font-size: 17px;
        color: #297da9;
        font-weight: 400;
        margin: 0;
        line-height: 100%;
        font-family: Poppins;
      }
      > h2 {
        font-size: 34px;
        color: black;
        margin: 5px;
      }
    }
    > div.bottom {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      gap: 21px;
      width: 100%;

      @media (min-width: 900px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;

        > div.types:nth-of-type(1) {
          width: 186px;
          height: 430.9504px;
        }
        > div.types:nth-of-type(2) {
          width: 186px;
          height: 430.9504px;
        }
        > div.types:nth-of-type(3) {
          width: 186px;
          height: 430.9504px;
        }
        > div.types:nth-of-type(4) {
          width: 289.5008px;
          height: 598.4096px;
        }
        > div.types:nth-of-type(5) {
          width: 289.5008px;
          height: 598.4096px;
        }
      }

      @media (min-width: 1200px) {
        display: flex;

        > div.types:nth-of-type(1) {
          width: 162.2px;
          height: 394.0608px;
        }
        > div.types:nth-of-type(2) {
          width: 162.2px;
          height: 394.0608px;
        }
        > div.types:nth-of-type(3) {
          width: 162.2px;
          height: 394.0608px;
        }
        > div.types:nth-of-type(4) {
          width: 162.2px;
          height: 394.0608px;
        }
        > div.types:nth-of-type(5) {
          width: 162.2px;
          height: 394.0608px;
        }
      }

      > div.types {
        width: 100%;
        max-width: 100%;

        > div.top {
          width: 100%;
          max-width: 100%;

          > picture img {
            width: 100%;
            max-width: 100%;

            @media (min-width: 900px) {
              max-width: none;
            }
          }
        }
        > div.bottom {
          text-align: center;

          > h2 {
            font-size: 17px;
            color: black;
            font-weight: 400;
          }
          > p {
            font-size: 13px;
            color: #0000008c;
          }
          > a {
            text-decoration: none;
            color: #297da9;
          }
        }
      }
    }
  }
}
div.container.seven {
  padding: 34px 24px;

  @media (min-width: 600px) {
    padding: 34px 93px;
  }

  @media (min-width: 900px) and (max-width: 1199px) {
    padding: 34px 150px;
  }

  @media (min-width: 1200px) and (max-width: 2650px) {
    padding: 34px 0 34px 0;
  }
  > div.wrapper {
    gap: 21px;
    justify-content: space-between;
    @media (min-width: 900px) {
      flex-direction: row;
    }

    > div.top {
      padding: 21px;
      border-radius: 13px;
      background-color: #419ed1;
      width: 100%;

      @media (min-width: 600px) {
        width: 414px;
        height: 286px;
      }

      @media (min-width: 900px) {
        width: 288px;
        height: 286px;
      }

      > div.box {
        > div.top {
          > h2 {
            font-size: 34px;
            font-weight: 400;
            color: white;
            line-height: 120%;
            margin: 0 0 33px 0;
          }
        }
        > div.middle {
          margin-bottom: 33px;
          width: 100%;
          max-width: 100%;

          > a {
            display: inline-flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 50px;
            max-width: 100%;
            font-size: 13px;
            font-weight: 400;
            font-family: "Inter";
            line-height: 1;
            letter-spacing: 0;
            color: #ffffff;
            background: none;
            border: 1px solid #ffffff;
            border-radius: 5px;
            gap: 10px;
            cursor: pointer;

            &::after {
              content: "";
              width: 16px;
              height: 16px;
              background-size: cover;
              background-repeat: no-repeat;
            }

            &::after {
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
            }
          }
        }
        > div.bottom {
          > div.top {
            > strong {
              font-size: 17px;
              font-weight: 700;
              color: white;
            }
            > p {
              font-size: 13px;
              font-weight: 400;
              color: white;

              @media (min-width: 600px) {
                margin: 0 0 21px 0;
              }

              @media (min-width: 900px) {
                margin: 0;
              }
            }
          }
          > div.bottom {
            @media (min-width: 900px) {
              margin-top: 21px;
            }

            > strong {
              font-size: 17px;
              font-weight: 700;
              color: white;
            }
            > p {
              font-size: 13px;
              font-weight: 400;
              color: white;

              @media (min-width: 600px) {
                margin: 0;
              }

              @media (min-width: 900px) {
                margin: 0;
              }
            }
          }
        }
      }
    }
    > div.bottom {
      padding: 21px;
      border-radius: 13px;
      border: 1px solid #ccd6eb;
      background-color: #ffffff;
      max-width: 100%;

      @media (min-width: 900px) {
        width: 288px;
        height: 286px;
      }

      @media (min-width: 1200px) {
        width: 593px;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/1200/nine-chat.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: auto 308px;
        }
      }

      > div.box {
        > div.top {
          > p:nth-of-type(1) {
            font-size: 17px;
            font-weight: 400;
            color: #297da9;
            line-height: 100%;
            margin: 0 0 5px 0;
          }
          > p:nth-of-type(2) {
            font-size: 21px;
            font-weight: 400;
            color: black;
            line-height: 100%;
            margin: 0 0 16.2496px 0;
          }
          > p:nth-of-type(3) {
            font-size: 13px;
            font-weight: 400;
            color: #090c058c;
            line-height: 100%;
            margin: 0 0 16.2496px 0;
          }
        }
        > div.middle {
          > button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 13px;
            background-color: #06c270;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            @media (min-width: 900px) {
              margin-bottom: 12px;
            }
          }
        }
        > div.bottom {
          > p:nth-of-type(1) {
            font-size: 17px;
            color: black;
            font-weight: 400;

            @media (min-width: 900px) {
              margin: 0;
            }
          }
          > p:nth-of-type(2) {
            font-size: 13px;
            color: #090c058c;
            font-weight: 400;
            line-height: 130%;
            margin: 5px 0 16.2496px 0;

            @media (min-width: 900px) {
              margin: 5px 0 5px 0;
            }

            @media (min-width: 900px) {
              width: 246px;
            }
          }
          > a {
            text-decoration: none;
            color: #297da9;
            font-size: 13px;
          }
        }
      }
    }
  }
}
